
@model UserRegisterViewModel



    <!--====== Header Part Ends ======-->
    <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->
    <!--====== Register Part Start ======-->

    <section class="register-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Creat New Account</h4>
                        <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>
                    <form asp-action="Register" method="post">
                        <div class="single-form">
                            <input asp-for="Fullname" placeholder="Full Name">
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="Username" placeholder="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="Email" placeholder="Email Address">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="Password" type="password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        
                        <div class="single-form">
                            <button type="submit" class="main-btn main-btn-2">Register</button>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    
   