@model Product
@{
    List<Category> Categorys = ViewBag.Categorys;

}
<div class="container-fluid">
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Desc</label>
            <input asp-for="Desc" class="form-control">
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ProductCode</label>
            <input asp-for="ProductCode" class="form-control">
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CostPrice</label>
            <input asp-for="CostPrice" class="form-control">
            <span asp-validation-for="CostPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">SalePrice</label>
            <input asp-for="SalePrice" class="form-control">
            <span asp-validation-for="SalePrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">DiscountPercent</label>
            <input asp-for="DiscountPercent" class="form-control">
            <span asp-validation-for="DiscountPercent" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">StockCount</label>
            <input asp-for="StockCount" class="form-control">
            <span asp-validation-for="StockCount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(Categorys,"Id","Name"))"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
   
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IsBestProduct</label>
            <input asp-for="IsBestProduct" class="form-control">
            <span asp-validation-for="IsBestProduct" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IsFeatured</label>
            <input asp-for="IsFeatured" class="form-control">
            <span asp-validation-for="IsFeatured" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IsNew</label>
            <input asp-for="IsNew" class="form-control">
            <span asp-validation-for="IsNew" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IsAvailable</label>
            <input asp-for="IsAvailable" class="form-control">
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">IsDeleted</label>
            <input asp-for="IsDeleted" class="form-control">
            <span asp-validation-for="IsDeleted" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">PosterImageFile</label>
            <input asp-for="PosterImageFile" class="form-control">
            <span asp-validation-for="PosterImageFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">HoverImageFile</label>
            <input asp-for="HoverImageFile" class="form-control">
            <span asp-validation-for="HoverImageFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ImageFiles</label>
            <input asp-for="ImageFiles" class="form-control">
            <span asp-validation-for="ImageFiles" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
